<html ng-app="victoryApp">
<head>
<title>Filter Page</title>
<link href='../css/bootstrap.min.css' rel='stylesheet'></link>
<link href='../fonts/adventor_bold/stylesheet.css' rel='stylesheet'></link>
<link href='../fonts/adventor_regular/stylesheet.css' rel='stylesheet'></link>
<link href='../css/font-awesome.min.css' rel='stylesheet'></link>
<link href='../css/global.css' rel='stylesheet'></link> 
<link href='../css/filterCmpnt.css' rel='stylesheet'></link> 
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<section ng-controller="SortFundController as sortCtrl">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<form class="filterContain" name="filterForm">
							<div class="filterOptions clearfix">
								<a href="#" ng-click="clearFilters()">Clear Filters</a>
								<h2>Asset Class</h2>

								<ul>
									<li ng-repeat="assetClass in assetClasses">
										<input type="checkbox" ng-model="selectedFunds[assetClass]" value="{{assetClass}}" name="{{assetClass}}" ng-click="updateSelected(assetClass)"> {{assetClass}}
									</li>	
								</ul>

								<h2>Investment Franchise</h2>
								<ul>
									<li ng-repeat="investmentFranchise in investmentFranchises">
										<input type="checkbox" ng-model="selectedFunds[investmentFranchise]" value="{{investmentFranchise}}" name="{{investmentFranchise}}" ng-click="updateSelected(investmentFranchise)"> {{investmentFranchise}}
									</li>
								</ul>
							</div>
						</form>
					</div> 
					<table class="col-xs-12 col-sm-12 col-md-12 col-lg-12 fundContainer">
						<tr>
							<th>Fund Name</th>
							<th>Asset Class</th>
							<th>Category</th>
							<th>Investment Franchise</th>
						</tr>
						<tr ng-class-even="'fundAlt'" on-finish-render ng-repeat="fund in funds | sortFunds:selectedFunds:isAssetClassChecked:isInvestmentFranchiseChecked">
							<td><a href="#">{{fund.fund_name}}</a></td>
							<td>{{fund.asset_class}}</td>
							<td>{{fund.category}}</td>
							<td>{{fund.investment_franchise}}</td>
						</tr>
					</table>
				</section>
			</div>
		</div>
	</div>
	<script src='../js/jquery-1.11.1.js'></script>
	<script src='../js/bootstrap.min.js'></script>
	<script src="../js/equalHeightsPlugin.js"></script>
	<script src="../js/angular.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/global.js"></script>
	<script src="../directives/DirectiveOnFinishRender.js"></script>
	<script src="../factories/fundData.js"></script>
	<script src="../filters/sortFunds.js"></script>
	<script src="../controllers/SortFundController.js"></script>
</body>
</html>