<html ng-app="dinoApp">
<head>
<title>Main View</title>
<link href='../css/bootstrap.min.css' rel='stylesheet'></link>
<link href='../fonts/adventor_bold/stylesheet.css' rel='stylesheet'></link>
<link href='../fonts/adventor_regular/stylesheet.css' rel='stylesheet'></link>
<link href='../css/font-awesome.min.css' rel='stylesheet'></link>
<link href='../css/global.css' rel='stylesheet'></link> 
<link href='../css/stepsComponent.css' rel='stylesheet'></link> 
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div ng-controller="Test">
					<div>
						<p>Selected Dino(s): {{selectedDinos}}</p>
						<p>Select By Species:</p>
						<select ng-model="selectedDinos" ng-options="dinosaur.species for dinosaur in dinosaurs | orderBy:'species'"></select>
					</div>
					<br/>
					<div>
						<p>Country: {{selectedDinos.country}} </p>
						<p>Select By Country:</p>
						<select ng-model="selectedDinos" ng-options="dinosaur.country for dinosaur in dinosaurs | filter:unique | orderBy:'country'"></select>
			    	</div>
				<!-- 	
					<div>
						<p>Country: {{selectedDinos.country}} </p>
						<p>Select By Country:</p>
						<select ng-model="selectedDinos" ng-options="dinosaur.species group by dinosaur.country for dinosaur in dinosaurs | orderBy:'country'"></select>
			    	</div> -->
			    </div>
				<section ng-controller="StepComponentViewController as stepComponent">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="filterContain">
							<p>Filter By: {{selectedItem}}</p>
							<ul class="filterOptions clearfix">
								<li>
									<select ng-model="selectedItem" ng-options="dinosaur.country for dinosaur in dinosaurs"></select>
								</li>
							</ul>
						</div>
					</div> 
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 stepsComponentContain" on-finish-render ng-repeat="dinosaur in Dinosaurs | filter:sortSpecies | orderBy:'country'">
						<div class="stepsComponent" ng-class-even="'stepsComponentAlternative'">
							<h3 class="stepsComponent-heading">{{dinosaur.species}}</h3>
							<p>Country: {{dinosaur.country[0]}}</p>
							<p>Time Period: {{dinosaur.time_period}}</p>
							<p>Body Type: {{dinosaur.body_type}}</p>
							<img class="featuredImg" ng-src="{{dinosaur.img}}" />
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script src='../js/jquery-1.11.1.js'></script>
	<script src='../js/bootstrap.min.js'></script>
	<script src="../js/equalHeightsPlugin.js"></script>
	<script src="../js/angular.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/global.js"></script>
	<script src="../directives/DirectiveOnFinishRender.js"></script>
	<script src="../factories/DinoData.js"></script>
	<script src="../controllers/StepComponentViewController.js"></script>
</body>
</html>